{% extends 'base.html.twig' %}

{% block content %}
    <main class="container">
        <h1>
            {{ product.name }}
            <span class="badge badge-info">{{ product.price }}€</span>
        </h1>
        <p class="text-muted">
            Créé le {{ product.createdAt | date('d/m/Y à H:i') }},
            {{ product.nbViews }} vues
        </p>
        <p>{{ product.description }}</p>
    </main>
{% endblock %}

