{% extends 'base.html.twig' %}

{% block content %}
    <main class="container">
        <h1>
            {{ product.name }} - {{ product.price }} €
        </h1>
        <p class="text-muted">
            Créé le {{ product.createdAt | date('d/m/Y à H:i', "Europe/Paris") }},
            {{ product.nbViews }} vues
            <br/>
            <span class="badge badge-success">{{ product.category.name | capitalize }}</span>
        </p>

        <p>{{ product.description }}</p>

        <p>
            <a href="{{ path('app_product_list') }}"  class="btn btn-info">
                Retour à la liste des produits
            </a>
        </p>
    </main>
{% endblock %}









